a {
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

body {
    font-family: "Roboto" , sans-serif ;
    background-color: #FFFFFF;
    color: #434455;
}


.header {
    
}

.header-nav {

}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}

.header-logo span {
    color: #2E2F42;
}


.header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}


.header-link:hover {
    color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {}


.address-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

.main {}

.hero {
    background-color: #2E2F42;
}

.hero-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button {
    background: #4D5AE5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

.hero-button-text {}

.features {
    background: #E5E5E5;
}

.features-list {}

.feature-item {}

.feature-item-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.feature-item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.products {
    background: #E5E5E5;
}

.products-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.11;   
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.products-list {}

.products-item {}

.products-img {}



.team {
    background: #F4F4FD;
}

.team-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-list {}

.team-item {
    background-color: #FFFFFF;
}

.team-item-img {}

.item-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.item-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}


.footer {
    background: #2E2F42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo span {
    color: #f4f4fd;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.section-button-list {}


.section-button-white {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em; 
    color: #FFFFFF;
}

.section-button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}

.section-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.section-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.section-product-list {}

.product-list-item {}

.app-list-link {}

.link {}

.product-list-name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.product-list-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}